{% extends "../base.html" %}
{% block body %}
    <form class="form-horizontal sign-in-form" role="form" id="change-password-form" method="post">
        <h1 class="page-header">Change password</h1>
        <div class="form-group">
            <label for="password" class="col-xs-4 control-label">Current password</label>
            <div class="col-xs-8">
                <input type="password" class="form-control" id="password" name="password" required autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-xs-4 control-label">New password</label>
            <div class="col-xs-8">
                <input type="password" class="form-control" id="new-password" name="new-password" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-9 col-xs-3">
                <button type="submit" class="btn btn-success pull-right">Change</button>
            </div>
        </div>
    </form>
{% end %}