{% extends user_base.html %}

{% block user_body %}
{% if not play_server %}
    <h3>New play server</h3>
{% else %}
    <h3>Edit play server</h3>
{% end %}
<form id="form-play-server" style="width:300px">
    {% if play_server %}
        <input name="id" type="hidden" value="{{ play_server['id'] }}">
    {% end %}
    <div class="form-group">
        <label for="input-name">Name</label>
        <input 
            name="name"
            id="input-name"
            type="text" 
            class="form-control" 
            placeholder="My play server"
            value="{{ escape(play_server['name']) if play_server else '' }}"
            required
        >
    </div>
    <div class="form-group">
        <label for="input-url">URL</label>
        <input 
            name="url"
            id="input-url"
            type="text"
            class="form-control"
            placeholder="http://127.0.0.1:8001"
            value="{{ escape(play_server['url']) if play_server else '' }}"
            required
        >
    </div>
    <div class="form-group">
        <label for="input-secret">Secret</label>
        <input
            name="secret"
            id="input-secret"
            type="text"
            class="form-control"
            placeholder="Top secret!"
            value="{{ escape(play_server['secret']) if play_server else '' }}"
            onclick="this.select();"
            required
        >
    </div>
    <button class="btn btn-success" type="submit">Save</button>
    {% if play_server %}    
    <button 
        id="button-play-server-delete"
        play-server-id="{{ play_server['id'] }}"
        class="btn"
    >
        Delete
    </button>
    {% end %}
</form>
<br>
    {% if play_users %}
    <h3>Users with access</h3>
    <table class="table table-striped">
        {% for user in play_users %}
            <tr>
                <td>
                    {{ user['name'] }} 
                    {% if current_user['id'] == user['id'] %}
                        <font color="#747474"><i>(You)</i></font>
                    {% end %}
                </td>
            </tr>
        {% end %}
    </table>
    {% end %}
{% end %}
