{% if play_servers %}
<table class="table" style="width:300px;">
    <tbody>
        {% for ps in play_servers %}
            <tr>
                <td>{{ ps['name'] }}</td>
                <td>{{ ps['address'] }}</td>
                <td align="right">
                    <a href="/user/play-server-form?id={{ ps['id'] }}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        {% end %}
    </tbody>
</table>
{% else %}
<div class="alert alert-warning">
    <strong>You have no play servers.</strong><br>
    Create one bye clicking on the <strong>NEW</strong> button above.
</div>
{% end %}