include setup.py MANIFEST.in src/seplis/api/alembic.ini requirements.txt
recursive-include src/seplis/web/templates *
recursive-include src/seplis/web/static *
recursive-include src/seplis/api/migration *
global-exclude *~