{% extends ../modal.html %}
{% block title %}
    {% include episode_header.html %}
{% end %}
{% block body %}
    <div class="video hide">
        <video width="100%" controls preload="None"></video>
        <input class="slider" type="range" style="width:100%;" max="0" value="0" setp="1">
    </div>
    <div class="loading-video alert alert-info">
        <strong>Connecting to the play server...</strong>
    </div>
    <div class="episode-404 hide alert alert-info">
        <strong>This episode is not on any of your play servers.</strong>
    </div>
    <div class="episode-no-connection hide alert alert-warning">
        <strong>The play server could not be contacted.</strong>
    </div>
    <script>
        var show_id = {{ show['id'] }};
        var number = {{ episode['number'] }};
        var play_servers = [
            {% for ps in play_servers %}
            {
                'play_id': '{{ escape(ps['play_id']) }}',
                'url': '{{ escape(ps['play_server']['url']) }}',
            }, 
            {% end %}
        ];
        var start_pos = {{ (episode.get('user_watched', {}) or {}).get('position', 0) or 0 }};
        $(function (){
            $('video').seplis_play(
                play_servers,
                show_id,
                number,
                start_pos
            );
        });
    </script>
{% end %}