.loader {
    margin: 75px auto;
    border-top: 12px solid rgba(255, 255, 255, 0.1);
    border-right: 12px solid rgba(255, 255, 255, 0.1);
    border-bottom: 12px solid rgba(255, 255, 255, 0.1);
    border-left: 12px solid #767676;
    transform: translateZ(0);
    animation: load8 1.5s infinite linear;
}
.loader,
.loader:after {
    border-radius: 50%;
    width: 130px;
    height: 130px;
}
@-webkit-keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}