.navbar-seplis {
    background-color: #428bca;
    padding: 5px;
    margin-bottom: 10px;

    .nav-item {
        .nav-link {
            color: #DFDFDF;
            
            &:hover {
                color: #fff;
            }
        }
    }
}