$enable-flex: false;
$enable-rounded: false;

$body-bg: #26282E;
$body-color: #fff;

$font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

@import "bootstrap/scss/bootstrap";

h1,
h2 {
    margin-top:0;
}

.small-device-header {
    font-size: 26px;
    margin-top: 5px;
    padding-bottom: 5px;
}

a, 
a.btn {
    &:hover {
        color:#CA6910;
    }
}

.capitalize-first-letter:first-letter {
    text-transform: uppercase;
}

.no-margin-top, .no-margin-top-bottom {
    margin-top: 0;
}

.no-margin-bottom, .no-margin-top-bottom {
    margin-bottom: 0;
}

.col-margin {
    margin-bottom: 15px;
}

.header {
    border-bottom: 1px solid #eee;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 9px;
}

