$enable-flex: true;
$enable-rounded: false;

$body-bg: #26282E;
$body-color: #fff;
$headings-margin-bottom: 1rem;
$grid-gutter-width: 1rem;

@import "bootstrap/scss/bootstrap";
@import "./slider.scss";

$fa-font-path: "~font-awesome/fonts";
@import "font-awesome/scss/font-awesome";

h1,
h2 {
    margin-top: 0;
}

p {
    margin-bottom: 0;
}

a {
    color: #fff;
}

a, 
a.btn {
    &:hover {
        color: #428bca;
    }
}

.alert a {
    color: #428bca !important;
}

.btn {
    cursor: pointer;
}

.dropdown-menu {
    top: 30px;
}

.capitalize-first-letter:first-letter {
    text-transform: uppercase;
}

.no-margin-top, .no-margin-top-bottom {
    margin-top: 0;
}

.no-margin-bottom, .no-margin-top-bottom {
    margin-bottom: 0;
}

.col-margin {
    margin-bottom: $headings-margin-bottom !important;
}

.header {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 3px;
}

.borderless, 
.borderless td, 
.borderless th {
    border: none;
}

.hidden {
    display: none !important;
}

.text-nowrap-hide {
    white-space: nowrap;
    overflow: hidden;
}

div {
    min-width: 0;
}

.black-box {
    background-color: #000;     
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}