body {
    background-color: #26282E;
    color:#fff;
}

a, 
a.btn {
    &:hover {
        color:#CA6910;
    }
}

.capitalize-first-letter:first-letter {
    text-transform: uppercase;
}

.dropdown-menu {
    background-color: #414141;
    border-color: #6C6C6C;
}
div.dropdown-menu {
    padding:10px;
}