:root {
    --watched-button-in-progress-blue: #428bca;
}


.progress::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: var(--progress, 0%);
    height: 4px;
    background-color: var(--watched-button-in-progress-blue);
}