{% extends "ui/react.html" %}
{% block title %}    
    <title>{{series['title']}} - SEPLIS</title>
    <meta name="og:title" content="{{series['title']}}" />
    <meta property="og:type" content="video.series" />
    {% if series['description'] and series['description']['text'] %}
    <meta name="og:description" content="{{series['description']['text']}}" />
    {% endif %}
    {% if series['poster_image'] %}
    <meta property="og:image" content="{{series['poster_image']['url']}}" />
    <meta property="og:image:width" content="{{series['poster_image']['width']}}" />
    <meta property="og:image:height" content="{{series['poster_image']['height']}}" />
    {% endif %}
{% endblock %}
{% block head %}
    <script>
        document.seplis_tv_show = {{series|tojson|safe}};
    </script>
{% endblock %}
{% block body %}
    <div id="main"></div>
    <script>
        ReactDOM.render(
          seplis.Routes.default,
          document.getElementById('main')
        );
    </script>
{% endblock %}