{% for episode in episodes_to_watch %}
    <div class="item">
        <div class="info">
            <a 
                href="/modal/play-episode?show_id={{ show['id'] }}&episode_number={{ episode['number'] }}" 
                data-target="#seplis-modal" 
                data-toggle="modal"
            >
                <p>
                    {{ escape(episode['title']) if episode['title'] else 'Unknown title' }}
                </p>
                <p>
                    {% if 'season' in episode and episode['season'] %}
                        S{{ episode['season'] }} &#183; E{{ episode['episode'] }} ({{ episode['number'] }})
                    {% else %}
                        {{ episode['number'] }}
                    {% end %}
                </p>
                <p>{{ episode['air_date'] if episode['air_date'] else 'Unknown air date' }}</p>
            </a>
        </div>
        {% 
            if 'user_watched' in episode and episode['user_watched'] and \
                episode['user_watched']['position'] > 0 and show['runtime']
        %}
            <div 
                class="progress"
                style="width:{{ episode['user_watched']['position'] / (show['runtime'] * 60) * 100 }}%;"
            ></div>
        {% else %}
            <div class="progress"></div>
        {% end %}
    </div>
{% end %}