<button id="button-multi-watched" class="btn btn-default btn-multi-watched" data-toggle="dropdown">
    Set progression
</button>
<div class="dropdown-menu dropdown-form" role="menu">
    <form id="form-multi-watched">
        <input name="show_id" type="hidden" value="{{ show['id'] }}">
        <input name="do" type="hidden" value="incr">
        <div class="form-group">
            <label for="form-from-episode-number">From episode</label>
            <select class="form-control" name="from">
                {% for season in show['seasons'] %}
                    <optgroup label="Season {{ season['season'] }}">
                        {% for i, number in enumerate(range(season['from'], season['to']+1)) %}
                            <option value="{{ number }}">
                                <i>S{{ season['season'] }}:</i> Episode {{ i+1 }}
                            </option>
                        {% end %}
                    </optgroup>
                {% end %}
            </select>
        </div>
        <div class="form-group">
            <label for="form-to-episode-number">To episode</label>
            <select class="form-control" name="to">
                {% for season in show['seasons'] %}
                    <optgroup label="Season {{ season['season'] }}">
                        {% for i, number in enumerate(range(season['from'], season['to']+1)) %}
                            <option value="{{ number }}">
                               <i>S{{ season['season'] }}:</i> Episode {{ i+1 }}
                            </option>
                        {% end %}
                    </optgroup>
                {% end %}
            </select>
        </div>
        <button type="submit" class="btn btn-success">Watched</button>
    </form>
</div>