{% extends ../base.html %}
{% block body %}
    {% if show %}
        {% include show_header.html %}
        <h2>Edit show</h2>
        <form id="form-edit-show" show-id="{{ show['id'] }}">
    {% else %}
        <h1>New show</h1>  
        <form id="form-new-show">  
    {% end %}
    <div class="row">
        <div class="col-xs-6">
        {% for importer in constants.EXTERNAL_TYPES %}
            <div class="form-group">
                <label for="{{ escape(importer) }}">
                    {{ escape(constants.EXTERNAL_TYPE_NAMES[importer]) }} 
                    ID
                    {{ ' *' if importer in \
                        constants.EXTERNAL_REQUIRED_TYPES else '' }}
                </label>
                <input 
                    type="text" 
                    class="form-control input-external-id" 
                    name="{{ escape(importer) }}" 
                    id="{{ escape(importer) }}"
                    value="{{ show['externals'].get(importer, '') if show else '' }}"
                    {{ 'required' if importer in \
                        constants.EXTERNAL_REQUIRED_TYPES else '' }}
                >
                {% if importer == 'imdb' %}
                    <p>Specify an IMDb ID to prevent duplication of shows.</p>
                {% end %}
            </div>
        {% end %}

        <div style="margin-top:30px">
        {% for importer, externals in constants.IMPORTER_TYPES %}
            <div class="form-group" id="show-select-importer-sources">
                <label for="importer-{{ escape (importer) }}">
                    importer {{ escape(constants.IMPORTER_TYPE_NAMES[importer].lower()) }} from
                </label>
                <select 
                    name="{{ escape (importer) }}" 
                    id="importer-{{ escape (importer) }}" 
                    class="form-control"
                >
                    <option></option>
                    {% for name in externals %}
                        <option 
                            value="{{ escape(name) }}"
                            {{ 'selected' if show and \
                                show['importers'].get(importer) == name else '' }}
                        >
                            {{ escape(constants.EXTERNAL_TYPE_NAMES[name]) }}
                        </option>
                    {% end %}
                </select>
            </div> 
        {% end %}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
    <div class="col-xs-6">
        {% if show %}
            <div class="form-group">
                <label for="alternative-titles">Alternative titles</label>
                <input 
                    name="alternative_titles"
                    value="{{ ','.join(show['alternative_titles']) }}"
                    id="alternative-titles"
                    class="form-control"
                >
            </div>
        {% end %}
        <div class="form-group">
            <label for="episode-type">Episode type</label>
            <select 
                name="episode_type"
                id="episode-type"
                class="form-control"
            >
                {% if show %}
                {% set episode_type = show['episode_type'] %}
                {% else %}
                {% set episode_type = constants.SHOW_EPISODE_TYPE_SEASON_EPISODE %}
                {% end %}
                {% for i, name in constants.SHOW_EPISODE_TYPE.items() %}
                    <option 
                        value="{{ i }}"
                        {{ 'selected' if i == episode_type else '' }}
                    >
                        {{ escape(name) }}
                    </option>
                {% end %}
            </select>
        </div>
    </div>
    </div>
</form>
{% end %}