<div class="row">
    <div class="col-xs-5 season-select">
        <div class="item season">Season</div>
        <div class="item">
            <select class="select-season-select form-control" show-id="{{ show['id'] }}">
                {% for season in reversed(show['seasons']) %}                    
                    <option 
                        value="{{ season['season'] }}"
                        {{ 'selected' if season['season'] == selected_season else '' }}
                    >
                        {{ season['season'] }}
                    </option>
                {% end %}
            </select>
        </div>
    </div>
    <div class="col-xs-5 pull-right">
        <div class="pull-right">
            {% include episode_progression.html %}
        </div>
    </div>
</div>
<table class="table table-condensed table-striped season-episodes">
    {% for episode in episodes %}
        {% include show_episode.html %}
    {% end %}
</table>