<tr>
    <td style="width:15px;">
        <font color="grey">{{ '{0:0>2}'.format(episode['number']) }}</font>
    </td>
    <td style="width:15px;">
        {{ '{0:0>2}'.format(episode['episode']) }}
    </td>
    <td>
        {{ escape(episode['title']) if episode['title'] else '<i>No title</i>' }}
    </td>
    <td>        
        <date class="airdate" title="{{ escape(episode['air_date']) }}">
            {{ escape(episode['air_date']) }}
        </date>
    </td>
    <td>
        <a 

            href="/show/{{ show['id'] }}/episode/{{episode['number']}}/play"
        >
            <i class="glyphicon glyphicon-play-circle"></i>
        </a>
    </td>
    <td style="text-align:right;width:50px;">
        {% module watched_button(show, episode) %}
    </td>
</tr>