<div class="row show-header">
    <div class="col-xs-8">
        {% if show['title'] %}
            <h1>
                <a href="/show/{{ show['id'] }}">
                    {{ escape(show['title']) }}
                </a>
            </h1>
        {% else %}                    
            <h1>No title</h1>
            <h4 style="color:red;">
                {% if show['importers']['info'] %}
                    We're updating this show right now. <br>
                    Please try to reload the page in a couple of minutes.
                {% else %}
                    Please add an indexer.
                {% end %}
            </h4>
        {% end %}
    </div>
    <div class="col-xs-4">
        {% if current_user and current_user['level'] > constants.LEVEL_EDIT_SHOW %}           
            <div class="btn-group pull-right">
                <a 
                    href="/show-edit/{{ show['id'] }}" 
                    class="btn btn-default" 
                    title="Edit show">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
            </div>
        {% end %}
    </div>
</div>