<div class="season-episode">
    {% set eptitle = escape(episode['title']) if episode['title'] else 'TBA' %}
    <div class="title" title="{{ eptitle }}">
        {{ eptitle }}
    </div>
    <div>
        {% if episode.get('episode') %}
            Episode {{ episode['episode'] }} 
            <font color="grey">({{ episode['number'] }})</font>
        {% else %}
           {{ episode['number'] }} 
        {% end %}
            <strong>·</strong>  
        <date class="airdate" title="{{ escape(episode['air_date']) }}">
            {{ escape(episode['air_date']) }}
        </date>
    </div>
    <div class="bar">
        {% module watched_button(show, episode) %}
        <a 
            href="/show/{{ show['id'] }}/episode/{{episode['number']}}/play"
            class="play-button"
        >
            <i class="glyphicon glyphicon-play-circle"></i>
        </a>
    </div>
</div>