{% extends ../base.html %}
{% block body %}
    <show>
        {% include show_header.html %}
        <div class="show-info">
            <div class="image">
                <img alt="{{ escape(show['title']) }}" src="{{ image_url(show['poster_image'], '@SX300.jpg') }}">
                <div class="play-next-button">
                    <a 
                        href="#" 
                        data-target="#seplis-modal" 
                        data-toggle="modal"
                        id="show-play-next-image"
                    >
                        <i class="glyphicon glyphicon-play-circle"></i>
                    </a>
                </div>
            </div>
            <div class="description">
                <div>{% module fan_button(show) %}</div>
                {% if show['description']['text'] %}
                    <div class="description-text">
                        <p>
                            {{ escape(show['description']['text']) }}
                            <a 
                                href="#" 
                                class="readmore" 
                                onclick="
                                    $('.container-fluid').hide();
                                    $('.clean-reader').show();
                                    return false;
                                "                                    
                            >
                                Read more.
                            </a>
                        </p>
                    </div>
                    <source>
                        <a href="{{ escape(show['description']['url']) }}" target="_blank">
                            {{ escape(show['description']['title']) }}
                        </a>
                    <source> 
                {% else %}
                    <div class="description-text">
                        <i>There is no description yet!</i>
                    </div>
                {% end %}

                {% include show_next_episode.html %}
            </div>
            <div class="episode-sidebar">
                {% include sidebar.html %}
            </div>
        </div>
        <div id="show-etw" class="episode-bar"></div>
        <hr>
        {% if show['seasons'] %}
            {% include show_seasons.html %}
        {% end %}
    </show>

    <script>
        $(function(){
            get_show_etw({{ show['id'] }});
            get_show_play_next({{ show['id'] }});
            $(function(){
                $(document).on("hidden.bs.modal", '#seplis-modal', function (e) {
                    get_show_etw({{ show['id'] }});
                    get_show_play_next({{ show['id'] }});
                });
            });
        });
    </script>
{% end %}

{% block outside_container %}
<div class="clean-reader clean-white">
    <div class="container clean-container">
        <h2 class="clean-header">
            {{ escape(show['title']) }}        
            <div class="clean-close">
                <i 
                    class="glyphicon glyphicon-remove-sign" 
                    title="Close"
                    onclick="
                        $('.clean-reader').hide();
                        $('.container-fluid').show();
                    "
                ></i>
            </div>
        </h2>
        <div class="row clean-text">
            <div class="col-xs-12">
                <p>{{ escape(show['description']['text']) }}</p>         
                <source>
                    <a href="{{ escape(show['description']['url']) }}" target="_blank">
                        {{ escape(show['description']['title']) }}
                    </a>
                <source> 
            </div>
        </div>
    </div>
</div>
{% end %}