.btn-star, 
.btn-star:focus {
    background-color: #428bca !important;
    color: #E2E2E2;
    border: 1px solid #6C6C6C;
    outline: 0;
    border-radius: 0;
    text-align:middle;
    &:hover, &:active {    
        background-color: #373737;
        color: #E2E2E2;
        outline: 0;
    }
}

.btn-star__is-stared, 
.btn-star__is-stared:focus {
    background-color: #068223 !important;
    color: #E2E2E2;
    border: 1px solid #068223;
    &:hover, &:active {         
        background-color: #008F21;
        color: #E2E2E2;
        outline: 0;
    }
}