<!doctype html>
<html>
    <head>
        <title>Play files</title>        
        <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" type="text/css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/select2.css" rel="stylesheet">
        <link href="/static/select2-bootstrap.css" rel="stylesheet">
        
        <script src="/static/jquery-2.1.1.js"></script>
        <script src="/static/select2.js"></script>

        <script type="text/javascript">

        </script>
        {% block head %}{% end %}
    </head>
    <body>
        <div class="container-fluid">
            {% block body %}{% end %}
        </div>
    </body>
</html>