#player {
    .slider-wrapper {
        flex: 1;
        cursor: pointer;
        height: 45px;
        position: relative;
        user-select: none;

        .slider {
            display: block;
            width: 100%;
            top: 50%;
            margin-top: -2.5px;
            height: 5px;
            background-color: #2E2E2E;
            pointer-events: none; 
            user-select: none;    
            position: relative;
            z-index: 990;

            .progress {
                display: block;
                z-index: 999;
                position: absolute;
                height: 5px;
                background-color:#428bca;
                user-select: none;        
                width: 0;
            }
        }

        .hover-time {
            z-index: 1000;
            position: absolute;
            user-select: none;
            bottom: 2.5rem;
            pointer-events: none;
            text-align: center;
            padding: 0.1rem;
            pointer-events: none;
            background-color: #000;
            transform: translate(-50%, 0);

            img {
                margin-bottom: 0.1rem;
                user-select: none;
            }
        }
    }
}