.volume-slider {
    width: 60px !important;
    left: 0 !important;
    height: 130px !important;
    background-color: #2E2E2E;
    padding: 0 !important;

    .scrubber {
        position: relative;
        top: 15%;
        left: 50%;
        width: 4px;
        height: 70%;
        margin-left: -2px;
        background-color: #565656;
        pointer-events: none; 
    }

    .scrubber-head {
        position: absolute;
        left: 50%;
        margin: 0 auto;
        margin-bottom: -10px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        margin-left: -10px;
        background-color: #428bca;
        pointer-events:none;
    }

    .scrubber-percentage {
        position: absolute;
        width: 4px;
        bottom: 0;
        background-color: #428bca;
        pointer-events:none;
    }
}