.btn-fan, 
.btn-fan:focus {
    background-color: #414141;
    color: #E2E2E2;
    border: 1px solid #6C6C6C;
    outline: 0;
    border-radius: 0;
    text-align:middle;
    &:hover, &:active {    
        background-color: #373737;
        color: #E2E2E2;
        outline: 0;
    }
    .glyphicon {
        left: 1px;
    }
}

.btn-fan__is-fan, 
.btn-fan__is-fan:focus {
    background-color: #068223;
    color: #E2E2E2;
    border: 1px solid #068223;
    &:hover, &:active {         
        background-color: #008F21;
        color: #E2E2E2;
        outline: 0;
    }
}

.btn-fan__pull-left {    
    float: left;
    margin-top: 4px;
    margin-right: 10px;
}