{% extends "base.html" %}
{% block head %}

{% end %}
{% block body %}
    <div class="airdates">
        <div class="airdate" style="height:301px">
            <h3>Recently watched</h3>
            <div class="airdate-shows">
                {% for show in recently_watched %}
                    <div class="image">
                        <a href="/show/{{ show['id'] }}">
                            <img 
                                alt="{{ escape(show['title']) }}" 
                                width="166px"
                                height="244px"
                                src="{{ image_url(show['poster_image'], '@SX166.jpg') }}"
                            >
                        </a>
                    </div>
                {% end %}
            </div>
        </div>
        {% for ad in air_dates %}
            <div class="airdate">
                <h3 class="date">
                    <date title="{{ ad['air_date'] }}">{{ ad['air_date'] }}</date>
                </h3>
                <div class="airdate-shows">
                    {% for show in ad['shows'] %}
                        <div class="airdate-show-image image">
                            <a href="/show/{{ show['id'] }}">              
                                <img 
                                    alt="{{ escape(show['title']) }}" 
                                    width="166px"
                                    height="244px"
                                    src="{{ image_url(show['poster_image'], '@SX166.jpg') }}"
                                >
                            </a>
                            <div class="airdate-show-tooltip hidden">
                                <div class="header">
                                    <h3>
                                        <a href="/show/{{ show['id'] }}">   
                                            {{ escape(show['title']) }}
                                        </a>
                                    </h3>
                                </div>
                                <div class="body">
                                    <p><strong>
                                    Episodes airing {{ escape(ad['air_date']) }}
                                    </strong></p>
                                    {% for episode in show['episodes'] %}
                                        <div style="margin-left:10px;">
                                        <p>
                                            <a 
                                                href="/show/{{ show['id'] }}
                                                {% if episode.get('season') %}
                                                    ?season={{episode['season']}}
                                                {% end %}
                                                #episode:{{episode['number']}}
                                                "
                                            > 
                                            {% module episode_header(episode) %}
                                            </a>
                                        </p>
                                        </div>
                                    {% end %}
                                </div>
                            </div>
                        </div>
                    {% end %}
                </div>
            </div>
        {% end %}
    </div>
    {% if not air_dates %}
        <div class="alert alert-info" role="alert">
            <h1>There's nothing to watch this week!</h1>
            <p>
            But, how can this be?<br>

            Well, you're properly not a fan of any shows that has 
            episodes airing this week.
            </p>
            <p>
                Use the 
                <a href="#" onclick="$('.autocomplete').focus();return false;">
                    search bar</a>
                above to find new shows.
            </p>
        </div>
    {% end %}
{% end %}