{% extends "base.html" %}
{% block body %}
    <div class="airdates">
        <div class="airdate" style="height:301px">
            <h3>Recently watched</h3>
            <div class="airdate-shows">
                {% for show in recently_watched %}
                    <div class="image">
                        <a href="/show/{{ show['id'] }}">
                            <img 
                                alt="{{ escape(show['title']) }}" 
                                width="166px"
                                height="244px"
                                {% if show['poster_image'] %}
                                src="{{ config['api']['image_url'] }}/{{ show['poster_image']['hash'] }}@SX166.jpg"
                                {% end %}
                            >
                        </a>
                    </div>
                {% end %}
            </div>
        </div>
        {% for ad in air_dates %}
            <div class="airdate">
                <h3 class="date">
                    <date title="{{ ad['air_date'] }}">{{ ad['air_date'] }}</date>
                </h3>
                <div class="airdate-shows">
                    {% for show in ad['shows'] %}
                        <div class="image">
                            <a href="/show/{{ show['id'] }}">
                                
                                <img 
                                    alt="{{ escape(show['title']) }}" 
                                    width="166px"
                                    height="244px"
                                    {% if show['poster_image'] %}
                                    src="{{ config['api']['image_url'] }}/{{ show['poster_image']['hash'] }}@SX166.jpg"
                                    {% end %}
                                >
                            </a>
                        </div>
                    {% end %}
                </div>
            </div>
        {% end %}
    </div>
    {% if not air_dates %}
        <div class="alert alert-info" role="alert">
            <h1>There's nothing to watch this week!</h1>
            <p>
            But, how can this be?<br>

            Well, you're properly not a fan of any shows that has 
            episodes airing this week.
            </p>
            <p>
                Use the 
                <a href="#" onclick="$('.autocomplete').focus();return false;">
                    search bar</a>
                above to find new shows.
            </p>
        </div>
    {% end %}
{% end %}