<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
        <link rel="manifest" href="/static/img/manifest.json">
        <link rel="mask-icon" href="/static/img/safari-pinned-tab.svg" color="#428bca">
        <meta name="theme-color" content="#428bca">
        {% block title %}
            <title>{{ title }}</title>
        {% end %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

        <link rel="stylesheet" href="/static/dist/vendor.css?v=0.1.67">
        <link rel="stylesheet" href="/static/dist/app.css?v=0.1.67">
        <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
        <script type="text/javascript" src="/static/dist/vendor.js?v=0.1.67"></script>
        <script type="text/javascript">
            seplisBaseUrl = "{{config['client']['public_api_url']}}";
            seplisClientId = "{{config['client']['id']}}";
            seplisChromecastAppId = "{{config['web']['chromecast_appid']}}";
        </script>
        {% block head %}{% end %}
    </head>
    <body>
        <div id="root"></div>
        <script type="text/javascript" src="/static/dist/app.js?v=0.1.67"></script>
        {% block body_outside %}{% end %}
    </body>
</html>
