<!doctype html>
<html>
    <head>
        <title>{{ title }}</title>        
        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/vendor/jquery.growl.css">
        <link rel="stylesheet" href="/static/css/vendor/font-awesome.min.css">
        
        <link rel="stylesheet" href="/static/css/base.css">
        <link rel="stylesheet" href="/static/css/show.css">
        <link rel="stylesheet" href="/static/css/signin.css">
        <link rel="stylesheet" href="/static/css/suggest.css">
        <link rel="stylesheet" href="/static/css/buttons.css">
        <link rel="stylesheet" href="/static/css/progress.css">
        <link rel="stylesheet" href="/static/css/air_dates.css">
        <link rel="stylesheet" href="/static/css/clean_reader.css">

        <script type="text/javascript" src="/static/js/vendor/jquery-2.1.1.min.js"></script>
        <script type="text/javascript">
            function show_api_error(error) {
                var message = error.message + '.';
                if (error.code === 1001) {
                    for (var key in error.errors) {
                        message = message + _.template(multiline(function(){/*
                            <br><br><strong><%= field %><br></strong> <%= message %>.  
                        */}), error.errors[key]);
                    }
                }
                $('#errors').html(_.template(multiline(function(){/*
                    <div class="alert alert-danger alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

                      <%= message %>
                    </div>
                */}), {
                    'message':message,
                }));
            }
            $(function(){
                api = new Api();
                api.loader_gif = '/static/img/loader.gif';
                api.default_error_callback = show_api_error;

                template = new Template();
                current_user = {{ json_dumps(current_user.data) if current_user else 'null' }};

                var engine = new Bloodhound({
                  name: 'suggest',
                  remote: '/suggest?q=%QUERY',
                  datumTokenizer: function(d) {
                    return Bloodhound.tokenizers.whitespace(d.val);
                  },
                  queryTokenizer: Bloodhound.tokenizers.whitespace
                });
                engine.initialize()
                $('.typeahead').typeahead(
                    {
                      hint: true,
                      highlight: true,
                      minLength: 1
                    },
                    {
                      name: 'suggest',
                      displayKey: 'title',
                      source: engine.ttAdapter(),
                      templates: {
                        suggestion: _.template('<p><a href="/shows/<%=id %>"><%-title %></a></p>')
                      }
                    }
                );
                {% block jsready %}{% end %}
            });
        </script>
        {% block head %}{% end %}
    </head>
    <body>
        {% block menu %}
            {% module menu() %}
        {% end %}
        <div class="container-fluid">
            <div id="errors"></div>
            {% block body %}{% end %}
        </div>
        {% block outside_container %}
        {% end %}
        <script type="text/javascript" src="/static/js/vendor/multiline.js"></script>
        <script type="text/javascript" src="/static/js/vendor/underscore-min.js"></script>
        <script type="text/javascript" src="/static/js/vendor/bootstrap.min.js"></script>
        <script type="text/javascript" src="/static/js/vendor/typeahead.bundle.js"></script>
        <script type="text/javascript" src="/static/js/vendor/jquery.growl.js"></script>
        <script type="text/javascript" src="/static/js/vendor/moment.js"></script>
        <script type="text/javascript" src="/static/js/vendor/jquery.dotdotdot.js"></script>
        <script type="text/javascript" src="/static/js/api.js"></script>
        <script type="text/javascript" src="/static/js/template.js"></script>
        <script type="text/javascript" src="/static/js/signin.js"></script>
        <script type="text/javascript" src="/static/js/tag.js"></script>
        <script type="text/javascript" src="/static/js/buttons.js"></script>
        <script type="text/javascript" src="/static/js/show.js"></script>
        <script type="text/javascript" src="/static/js/air_dates.js"></script>
    </body>
</html>