<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/img/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
        <link rel="manifest" href="/static/img/manifest.json">
        <link rel="mask-icon" href="/static/img/safari-pinned-tab.svg" color="#428bca">
        <meta name="theme-color" content="#428bca">
        {% block title %}
            <title>{{ title }}</title>
        {% end %}
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="/static/dist/app.css?v=0.1.37">
        <link rel="stylesheet" href="/static/dist/vendor.css?v=0.1.37">
        <script type="text/javascript" src="/static/dist/vendor.js?v=0.1.37"></script>
        <script type="text/javascript" src="/static/dist/app.js?v=0.1.37"></script>

        <script type="text/javascript">
            for (var n in window.exports.default) {
                window[n] = window.exports.default[n];
            }
            seplis.apiClientSettings.baseUrl = "{{config['client']['public_api_url']}}";
            seplis.apiClientSettings.clientId = "{{config['client']['id']}}";
            seplis.Chromecast.appId = "{{config['web']['chromecast_appid']}}";
            $(function(){
                {% block jsready %}{% end %}
            });
        </script>
        {% block head %}{% end %}
    </head>
    <body>
        {% block menu %}
        <div id="navbar"></div>
        <script>
            $(function(){
                ReactDOM.render(
                    React.createElement(
                        seplis.Navbar.default, {}
                    ), 
                    document.getElementById('navbar')
                );
            });
        </script>
        {% end %}
        <div class="container">
            <noscript>
            <div class="alert alert-warning">
                <strong>WARNING:</strong> JavaScript seems to be disabled in your browser.<br>
                You won't be able to <strong>sign in</strong> or use the <strong>search form</strong> without enabling JavaScript.
            </div>
            </noscript>
            <div id="errors"></div>
            {% block body %}{% end %}
        </div>
        {% block body_outside %}{% end %}
    </body>
</html>