{% extends base.html %}
{% block title %}    
    <title>{{escape(show['title'])}} - SEPLIS</title>
    <meta name="og:title" content="{{escape(show['title'])}}" />
    {% if show['description'] %}
    <meta name="description" content="{{escape(show['description']['text'])}}" />
    <meta name="og:description" content="{{escape(show['description']['text'])}}" />
    <meta property="og:type" content="video.tv_show" />
    {% end %}
    {% if show['poster_image'] %}
    <meta property="og:image" content="{{show['poster_image']['url']}}" />
    <meta property="og:image:width" content="{{show['poster_image']['width']}}" />
    <meta property="og:image:height" content="{{show['poster_image']['height']}}" />
    {% end %}
{% end %}
{% block head %}
    <script>
        document.seplis_tv_show = {{utils.json_dumps(show)}};
    </script>
{% end %}
{% block body %}
    <div id="main"></div>
    <script>
        ReactDOM.render(
          seplis.Routes.default,
          document.getElementById('main')
        );
    </script>
{% end %}