<div class="row">
    <div class="col-xs-8">
        {% block show_count %}{% end %}
    </div>
    <div class="col-xs-4">
        <div class="pull-right">                
            <a href="#" class="btn btn-default change-layout" data-layout="grid">
                <i class="glyphicon glyphicon-th"></i>
            </a>
            <a href="#" class="btn btn-default change-layout" data-layout="list">
                <i class="glyphicon glyphicon-th-list"></i>
            </a>
            {% if shows.pages and shows.pages > 1 %}
            <div class="pull-right show-pages-menu">
                {% include show_pages.html %}
            </div>
            {% end %}
        </div>
    </div>
</div>