<div class="row season-episodes">
    <div class="col-md-12 season-select">
        <div class="item season">Season</div>
        <div class="item">
            <select class="select-season-select form-control" show-id="{{ show['id'] }}">
                {% for season in reversed(show['seasons']) %}                    
                    <option 
                        value="{{ season['season'] }}"
                        {{ 'selected' if season['season'] == selected_season else '' }}
                    >
                        {{ '{0:0>2}'.format(season['season']) }}
                    </option>
                {% end %}
            </select>
        </div>
    </div>
    <div class="col-md-12">
        <div class="episodes panel-group">
            {% if next_episode and next_episode['season'] == selected_season %}
                {% set episode = next_episode %}
                {% include show_episode.html %}                
            {% end %}
            {% for episode in episodes %}
                {% if next_episode and next_episode['number'] != episode['number'] %}
                    {% include show_episode.html %}
                {% end %}
            {% end %}
        </div>
    </div>
</div>