<tr>
    <td style="width:15px;">
        <font color="grey">{{ '{0:0>2}'.format(episode['number']) }}</font>
    </td>
    <td style="width:15px;">
        {{ '{0:0>2}'.format(episode['episode']) }}
    </td>
    <td>
        {{ escape(episode['title']) if episode['title'] else '<i>No title</i>' }}
    </td>
    <td>        
        <date class="airdate" title="{{ escape(episode['air_date']) }}">
            {{ escape(episode['air_date']) }}
        </date>
    </td>
    <td>
        <div class="dropdown">
            <ul class="dropdown-menu" role="menu"></ul>
            <a 
                show-id="{{ show['id'] }}"
                episode-number="{{ episode['number'] }}"
                data-toggle="dropdown"
                class="episode-play-servers"
            >
                <i class="glyphicon glyphicon-play-circle"></i>
            </a>
        </div>
    </td>
    <td style="text-align:right;width:50px;">
        {% module watched_button(show, episode) %}
    </td>
</tr>