{% extends base.html %}

{% block body %}
    {% include show_index_top.html %}
    <div class="row">
        <div class="col-xs-12 shows">
            {% if not shows %}
                <div class="alert alert-info">
                    <strong>Zero shows in the database.</strong><br>
                    Add some.
                </div>
            {% else %}
                {% for show in shows %}
                    <div class="show">
                        <div class="image">
                            <a href="/show/{{ show['id'] }}">
                            <img 
                                title="{{ escape(show['title']) }}"
                                alt="{{ escape(show['title']) }}"
                                src="{{ image_url(show['poster_image'], '@SX227.jpg') }}"
                                width="227px"
                                height="334px"
                            >
                            </a>
                        </div>
                    </div>
                {% end %}
            {% end %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="pull-right">
                {% include show_pages.html %}
            </div>
        </div>
    </div>
{% end %}