{% if next_episode %}
    <div class="next-episode">
        Next episode
        <date class="show-date" title="{{ escape(next_episode['air_date']) }}">
            {{ escape(next_episode['air_date']) }}
        </date>:
        {{ escape(next_episode['title']) }} 
        S{{ 
            '{0:0>2}'.format(
                next_episode['season'],
            )
        }}E{{ 
            '{0:0>2}'.format(
                next_episode['episode'],
            )
        }}
        <i>({{ next_episode['number'] }})</i>
    </div>
{% end %}