{% extends "base.html" %}
{% block body %}
    <show>
        {% include show_header.html %}
        <div class="row">
            <div class="col-xs-6">
                <div class="lifespan">
                    {% if show['premiered'] %}
                        {{ escape(show['premiered']) }} - 
                        {{ escape(show['ended']) }}
                    {% end %}
                </div>
                {% if show.get('description') %}
                    <div class="description">
                        {{ escape(show['description']['text']) }}
                        <source>
                            <p><a href="{{ escape(show['description']['url']) }}" target="_blank">
                                {{ escape(show['description']['title']) }}
                            </a></p>
                        <source> 
                    </div>
                {% end %}
            </div>
        </div>
        {% if show['seasons'] %}
            {% include show_seasons.html %}
        {% end %}
    </show>
{% end %}