{% extends "base.html" %}
{% block body %}
    <form class="form-horizontal" role="form" id="signin-form" method="post">
        <h1 class="page-header"><font class="logo">SEPLIS</font> Sign in</h1>
        <div id="signin-error"></div>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
                <input type="email" class="form-control" id="email" placeholder="test@example.com" name="email" value="{{ escape(handler.get_argument('email', '')) }}" required autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <div class="checkbox">
                    <label>
                        <input name="remember_me" type="checkbox" value="true" checked> Remember me
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-primary">Sign in</button> <span class="api_request_loader"></span>
            </div>
        </div>
        <input name="next" id="next" type="hidden" value="{{ escape(handler.get_argument('next', '/')) }}" />
    </form>
{% end %}