{% extends "base.html" %}
{% block body %}
    <div class="row">
        <div class="col-md-9" id="tagged-shows">
            <div class="row">
                <div class="col-md-12">
                    {% for show in shows['results'] %}
                        <div class="row show">
                            <div class="col-md-12">
                                <a href="/shows/{{ show['id'] }}">
                                    {{ escape(show.get('title')) }}
                                </a>
                            </div>
                        </div>
                    {% end %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="pager">
                        <li class="{{ 'disabled' if not prev_page else '' }}"><a href="{{ prev_page }}">Previous</a></li>
                        <li class="{{ 'disabled' if not next_page else '' }}" ><a href="{{ next_page }}">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="{{ 'active' if selected_tag_id == 0 else '' }}">
                    <a href="/users/{{ user_id }}/tags/shows">All{{ ' <span class="pull-right label label-default">{}</span>'.format(total_results) if selected_tag_id == 0 else '' }}</a>
                </li>
                {% for tag in tags['shows'] %}
                    <li class="{{ 'active' if tag['id'] == selected_tag_id else '' }}">
                        <a href="/users/{{ user_id }}/tags/shows?tag_id={{ tag['id'] }}">
                            {{ escape(tag['name']) }} {{ ' <span class="pull-right label label-default">{}</span>'.format(total_results) if selected_tag_id == tag['id'] else '' }}
                        </a>
                    </li>
                {% end %}
            </ul>
        </div>
    </div>
{% end %}