<div class="btn-group dropdown">
    <ul 
        class="
            dropdown-menu 
            btn-watched-button-dropdown 
            dropdown-menu-right
        " 
        role="menu"
        style="top:-10px;"
    >
        <li 
            title="Increment the watched count"
            show-id="{{ show['id'] }}"
            episode-number="{{ episode['number'] }}"
            do="incr"
            data-loading-text="<img width='14px' height='14px' src='/static/img/loader.gif'>"
            class="watched-button"
        >
            <strong>
                <i class="fa fa-plus" style="color:#30BA51;"></i>
            </strong>
        </li>
        <li 
            title="Decrement the watched count"
            show-id="{{ show['id'] }}"
            episode-number="{{ episode['number'] }}"
            do="decr"
            data-loading-text="<img width='14px' height='14px' src='/static/img/loader.gif'>"
            class="watched-button"
        >
            <strong>                
                <i class="fa fa-minus" style="color:#E42D2D;"></i>
            </strong>
        </li>
    </ul>

    {% set times_watched = episode['user_watched']['times'] if episode.get('user_watched') else 0 %}
    <button 
        class="btn btn-default btn-watched {{ 'watched' if episode.get('user_watched') else 'not-watched' }}"
        show-id="{{ show['id'] }}"
        episode-number="{{ episode['number'] }}"
        data-toggle="{{ 
            'dropdown' if episode.get('user_watched') else '' 
        }}"
        data-loading-text="<img width='14px' height='14px' src='/static/img/loader.gif'>"
    >
    Watched
    </button>
    <button 
        class="btn btn-default times-watched"
        title="Times watched"
    >
        {{ times_watched }}
    </button>

</div>