<div class="dropdown">
    <ul class="dropdown-menu btn-watched-button-dropdown" role="menu">
        <li 
            title="Increment the watched count"
            show-id="{{ show['id'] }}"
            episode-number="{{ episode['number'] }}"
            do="incr"
            data-loading-text="<img width='14px' height='14px' src='/static/img/loader.gif'>"
            class="watched-button"
        >
            <strong>
                <i class="fa fa-plus"></i>
            </strong>
        </li>
        <li 
            title="Decrement the watched count"
            show-id="{{ show['id'] }}"
            episode-number="{{ episode['number'] }}"
            do="decr"
            data-loading-text="<img width='14px' height='14px' src='/static/img/loader.gif'>"
            class="watched-button"
        >
            <strong>                
                <i class="fa fa-minus"></i>
            </strong>
        </li>
    </ul>

    {% set times_watched = episode['user_watched']['times'] if episode.get('user_watched') else 0 %}
    <span class="times-watched">{{ times_watched }}</span>
    <a 
        class="btn-watched {{ 'watched' if episode.get('user_watched') else 'not-watched' }}" 
        show-id="{{ show['id'] }}"
        episode-number="{{ episode['number'] }}"
        data-toggle="{{ 
            'dropdown' if episode.get('user_watched') else '' 
        }}"
        data-loading-text="<img width='14px' height='14px' src='/static/img/loader.gif'>"
    >
        <i class="glyphicon glyphicon-eye-open"></i>
    </a>
</div>