{
	log {
		output stdout
		format json
	}
}

http://localhost {
	log {
		output stdout
		format json
	}
	reverse_proxy host.docker.internal:8001
}

http://test.0101dev.net {
	log {
		output stdout
		format json
	}
	reverse_proxy host.docker.internal:8003
}

http://test.seplis.net {
	log {
		output stdout
		format json
	}
	reverse_proxy host.docker.internal:5173
}