{
	log {
		output stdout
		format json
	}
}

http://seplis.local, http://localhost {
	log {
		output stdout
		format json
	}
	reverse_proxy host.docker.internal:8001
}

http://api.seplis.local {
	log {
		output stdout
		format json
	}
	reverse_proxy host.docker.internal:8002
}

http://play.seplis.local {
	log {
		output stdout
		format json
	}
	reverse_proxy host.docker.internal:8003
}

http://images.seplis.local {
	log {
		output stdout
		format json
	}
	reverse_proxy host.docker.internal:3000
}

http://test.seplis.net {
	log {
		output stdout
		format json
	}
	reverse_proxy host.docker.internal:5173
}