.resolutions {
    position: absolute;
    width: 250px;
    background-color: #2E2E2E;
    right: 25px;
    top: 45px;
    font-size: 20px;
    padding: 10px;
    padding-top: 0px;
    overflow: visible;
    text-align: left;
    max-height: 400px;
    overflow: auto;

    .title {
        font-weight: bolder;
        margin-top: 10px;
        color: #428bca;
    }

    p {
        margin: 0;
    }
}

.resolutions-bottom {
    bottom: 56px;
    top: auto;
}