.row-header {
    font-size: 1.4vw;
    font-weight: normal;
    margin: 0 2.785vw 0.3rem 2.785vw;

    @media screen and (max-width: 1099px) {
        font-size: 1rem;
    }

    @media screen and (min-width: 1100px) and (max-width: 1599px) {
        margin: 0 4.5vw;
    }

    @media screen and (min-width: 600px) and (max-width: 1099px) {
        margin: 0 5vw;
    }

    @media screen and (max-width: 599px) {
        margin: 0 40px;
    }
}


.slider {
    position: relative;
    padding: 0 2.785vw;
    user-select: none;

    .slider-item {
        aspect-ratio: auto 603 / 887;
        border: 1px solid #000;
        overflow: hidden;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        @media screen and (min-width: 1600px) {
            width: 8.3%;
        }

        @media screen and (min-width: 1100px) and (max-width: 1599px) {
            width: 14.285%;
        }

        @media screen and (min-width: 600px) and (max-width: 1099px) {
            width: 16.6667%;
        }

        @media screen and (max-width: 599px) {
            width: 33.333%;
        }
    }

    @media screen and (min-width: 1100px) and (max-width: 1599px) {
        padding: 0 4.5vw;
    }

    @media screen and (min-width: 600px) and (max-width: 1099px) {
        padding: 0 5vw;
    }

    @media screen and (max-width: 599px) {
        padding: 0 40px;
    }

    .slider-peek {
        border: 1px solid #000;
        position: absolute;
        width: 2.5vw;
        height: 100%;
        cursor: pointer;

        @media screen and (min-width: 1100px) and (max-width: 1599px) {
            width: 3.9vw;
        }

        @media screen and (min-width: 600px) and (max-width: 1099px) {
            width: 4.5vw;
        }

        @media screen and (max-width: 599px) {
            width: 35px;
        }

        .image {
            position: absolute;
            display: flex;
            width: 100%;
            height: 100%;
            aspect-ratio: auto 603 / 887;
            img {
                object-fit: cover;
            }
        }

        .background {
            position: absolute;
            background: rgba(0, 0, 0, 0.7);
            height: 100%;
            width: 100%;
        }

        .button {
            position: absolute;
            height: 100%;
            width: 100%;
            color: #fff;
            cursor: pointer;
            font-size: 1.4vw;
            display: flex;
            justify-content: center;
            align-items: center;
            visibility: hidden;

            @media screen and (min-width: 1100px) and (max-width: 1599px) {
                font-size: 2.4vw;
            }
    
            @media screen and (min-width: 600px) and (max-width: 1099px) {
                font-size: 3.4vw;
            }
    
            @media screen and (max-width: 599px) {
                font-size: 35px;
            }
        }

        &:hover .button, &:focus .button {
            visibility: visible;
        }
    }

    .prev {
        left: -0.5rem;
    }
    
    .next {
        right: 0px;
    }
      
}