.airdate {
    margin-top:20px;
    margin-bottom:20px;
}

.airdate:first-child {
    margin-top:0;
}

.airdate-shows {
    padding-top:20px;
    border-top:1px solid #E3E3E3;
}

.airdate-shows > .image {
    margin-right: 20px;
}

.airdates .airdate{
    overflow: hidden;
    width:100%;
}

.airdates .image {
    width:166px;
    float:left;
}
