.airdates {
    padding:10px;
    border-top:1px solid #E3E3E3;
}

.airdates:last-child {
    border-bottom:1px solid #E3E3E3;
}


.airdates:nth-child(2n) {
   background-color: #FBFBFB;
}

.airdates .airdate{
    overflow: hidden;
    height:80px;
    width:100%;
}

.airdates .date {

}

.airdates .airdate .episode {
    width:266px;
    float:left;
}
.airdates .airdate .episode a {
    color:#000;
}
.airdates .airdate .episode .image {
    width:70px;
    float:left;
}

.airdates .airdate .episode .title {
    font-weight: bolder;
    font-size: 14px;
}

.airdates .airdate .episode .episode-title {
    font-size: 12px;
}

.airdates .airdate .episode .info {
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
    width:185px;
}