.autocomplete-suggestions { 
    border: 1px solid #ccc; 
    background: #fff; 
    overflow: auto; 
}
.autocomplete-suggestion { 
    padding: 2px 2px; 
    white-space: nowrap; 
    overflow: hidden; 
    cursor:pointer;
}
.autocomplete-suggestion span {
    float:left;
}
.autocomplete-selected { 
    background: #ccc; 
}
.show-suggest{
    overflow: hidden;
}
.show-suggest .text{
    margin-left:5px;
}