.fan-button{
    margin-bottom:10px;
}

.btn-unfan {
    color: #fff;
    background-color: #5cb85c;
    border-color: #ccc;
}

.btn-unfan:hover, .btn-unfan:focus, .btn-unfan:active{
    color: #fff;
    background-color: #47a447;
    border-color: #ccc;
}

.btn-watched-button-dropdown li {
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

.btn-watched-button-dropdown{
    min-width:42px;
}

.btn-watched, .times-watched, .times-watched:active, .times-watched:hover, .times-watched:focus {
    background-color:#414141;
    border: 1px solid #6C6C6C;
    color:#E2E2E2;
}
.btn-watched:hover{
    color: #000;
    text-decoration: none;
    cursor:pointer;
}

.watched, .watched:hover, .watched:active, .watched:focus {
    background-color: #5cb85c;
    color:#E2E2E2;
}