.fan-button{
    margin-bottom:10px;
}

.btn-unfan {
    color: #fff;
    background-color: #5cb85c;
    border-color: #ccc;
}

.btn-unfan:hover, .btn-unfan:focus, .btn-unfan:active, .btn-unfan.active{
    color: #fff;
    background-color: #47a447;
    border-color: #ccc;
}

.btn-watched-button-dropdown li {
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

.btn-watched-button-dropdown{
    min-width:42px;
}

.btn-watched {
    color: #000;
}
.btn-watched:hover{
    color: #000;
    text-decoration: none;
    cursor:pointer;
}

.watched, .watched:hover {
    color: #5cb85c;
}