.fan-button{
    margin-bottom:10px;
}

.btn-unfan {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.btn-unfan:hover, .btn-unfan:focus, .btn-unfan:active, .btn-unfan.active {
    color: #fff;
    background-color: #47a447;
    border-color: #398439;
}