.navbar {
    margin-bottom: 10px;
}

.show-header h1 a{
    color: #FF6600;
    font-weight: bolder;
}

.season-select {
    overflow: hidden;
    line-height: 34px;
    height:34px;
}
.season-select .item{
    float:left;
}

.season-select .season{
    font-weight: bolder;
    font-size: 23px;
    margin-right:10px;
}

.show-info {
    overflow: hidden;
}

.show-info .image {
    width: 300px;
    float:left;
}

.show-info .image .no-image {
    width: 300px;
    height: 441px;
    line-height: 441px;
    background-color: #428bca;    
    color: #D6D6D6;
    text-align: center;
    vertical-align: middle;
    font-size:36px;
}

.show-info .description {
    width:450px;
    float:left;
    margin-left:10px;
}

.show-info .description .description-text {
    margin-bottom:10px;
}

.btn-multi-watched{
    color: #acacac;
}

.shows {
    margin-top:10px;
}

.shows > .show {
    width: 227px;
    float:left;
    margin-right:10px;
    margin-bottom:10px;
}

.shows > .show:nth-child(4n) {
    margin-right:0;
}

.show-pages-menu {
    margin-left:10px
}