#form-new-show .input-group{
    margin-bottom:10px;
}
#form-new-show .input-group-addon{
    width:103px;
    text-align:right;
    color:#000;
    font-weight:bolder;
}
#form-new-show .tvrage{
    background-color: #d9edf7;
}
#form-new-show .thetvdb{
    background-color: #dff0d8;
}
#form-new-show .imdb{
    background-color: #fcf8e3;
}

#save-button-info{
    margin-left:10px;
}