.show-header {
    display: flex;

    .title {
        font-size: 28px;
        line-height: 1;

        @media (min-width: 730px) {
            font-size: 30px;
        }

        @media (min-width: 992px) {
            font-size: 36px;
        }
    }
}