.episode-box-list-item {
    width: 100%;
    padding-left:5px;
    padding-right:5px;
    background-color: #414141;
    color:#E2E2E2;
    border-bottom: 1px solid #515151;

    .title {
        font-size: 16px;
        padding-top: 2px;
    }
    .meta {
        font-size: 14px;
    }
    .title, .meta {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .button-bar {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .play-button {
        cursor: pointer;
        font-size: 28px; 
        .fa {
            pointer-events: none;
        }
    }
}